{% extends 'base.html.twig' %}

{% block title %}Hello DocumentationController!{% endblock %}

{% block body %}
<style>
    .toprow { margin-top: 60px; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .container .row {
        margin-top: 60px;
    }
    .route span {
        margin-right: 20px;
    }
    .api {
        background: #F5F5F5;
    }
    .smtitle {
        font-weight: bold;
    }
    .api p, .api pre {
        padding: 0 10px;
    }
    .api p.route {
        padding: 5px 10px;
        color: white;
        font-weight: bold;
    }
</style>

<div class="container">

    <div class="row toprow">
        <h1>This blog is awesome, and this is how you may use this awesome API.</h1>
        <hr>
    </div>

    <div class="row" id="authentication">
        <div class="col-md-12">
            <h2>Authentication</h2>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/login_check
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Generate a JWT token. You will have to use this bearer token with your REST requests.
                </p>

                <span class="smtitle">Parameters</span> <br>
                <pre>
                    {
                        "username": [USERNAME:String],
                        "password": [PASSWORD:String],
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "username": "admin",
                        "password": "admin",
                    }
                </pre>

            </div>
        </div>
    </div>

    <div class="row" id="categories">
        <div class="col-md-12">
            <h2>Categories</h2>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/categories
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Get all the categories and their content.
                </p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/categories/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Get a category by ID with its content.
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-warning route">
                    <span>POST</span>   /api/categories
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Create a category.
                </p>

                <p>
                    <span class="smtitle">Parameters</span> <br>
                </p>
                <pre>
                    {
                        "name": [CATEGORY_NAME:String]
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "name": "People"
                    }
                </pre>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-info route">
                    <span>PUT</span>   /api/categories/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Update a category.
                </p>

                <p>
                    <span class="smtitle">Parameters</span> <br>
                </p>
                <pre>
                    {
                        "name": [CATEGORY_NAME:String]
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "name": "People"
                    }
                </pre>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-danger route">
                    <span>DELETE</span>   /api/categories/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Delete a category and its content.
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row" id="authors">
        <div class="col-md-12">
            <h2>Authors</h2>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/authors
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Get all the authors and their content.
                </p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/authors/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Get an author by ID with its articles.
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-warning route">
                    <span>POST</span>   /api/authors
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Create an author.
                </p>

                <p>
                    <span class="smtitle">Parameters</span> <br>
                </p>
                <pre>
                    {
                        "name": [AUTHOR_NAME:String]
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "name": "Christelle Efonne"
                    }
                </pre>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-info route">
                    <span>PUT</span>   /api/authors/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Update an author.
                </p>

                <p>
                    <span class="smtitle">Parameters</span> <br>
                </p>
                <pre>
                    {
                        "name": [AUTHOR_NAME:String]
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "name": "Christelle Efonne"
                    }
                </pre>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-danger route">
                    <span>DELETE</span>   /api/authors/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Delete an author and its articles.
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row" id="articles">
        <div class="col-md-12">
            <h2>Articles</h2>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/articles
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Get all the articles and their content.
                </p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/articles/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Get an article by ID with its comments.
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-warning route">
                    <span>POST</span>   /api/articles
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Create an article.
                </p>

                <p>
                    <span class="smtitle">Parameters</span> <br>
                </p>
                <pre>
                    {
                        "title": [ARTICLE_TITLE:String],
                        "text": [ARTICLE_TEXT:String],
                        "category": [CATEGORY_ID:Int],
                        "author": [AUTHOR_ID:Int]
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "title": "Recette de la tartiflette",
                        "text": "Faites de la tartiflette, c'est délicieux !",
                        "category": 4,
                        "author": 2
                    }
                </pre>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-info route">
                    <span>PUT</span>   /api/articles/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Update an article.
                </p>

                <p>
                    <span class="smtitle">Parameters</span> <br>
                </p>
                <pre>
                    {
                        "title": [ARTICLE_TITLE:String],
                        "text": [ARTICLE_TEXT:String],
                        "category": [CATEGORY_ID:Int],
                        "author": [AUTHOR_ID:Int]
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "title": "Recette de la tartiflette",
                        "text": "Faites de la tartiflette, c'est délicieux !",
                        "category": 4,
                        "author": 2
                    }
                </pre>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-danger route">
                    <span>DELETE</span>   /api/articles/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Delete an article and its articles.
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row" id="comments">
        <div class="col-md-12">
            <h2>Comments</h2>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/comments
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Get all the comments.
                </p>

            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-success route">
                    <span>GET</span>   /api/comments/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Get a comment by ID.
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-warning route">
                    <span>POST</span>   /api/comments
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Create a comment.
                </p>

                <p>
                    <span class="smtitle">Parameters</span> <br>
                </p>
                <pre>
                    {
                        "comment": [COMMENT_TEXT:Text],
                        "article": [ARTICLE_ID:Int]
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "comment": "Superbe article !",
                        "article": 6
                    }
                </pre>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-info route">
                    <span>PUT</span>   /api/comments/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Update a comment.
                </p>

                <p>
                    <span class="smtitle">Parameters</span> <br>
                </p>
                <pre>
                    {
                        "comment": [COMMENT_TEXT:Text],
                        "article": [ARTICLE_ID:Int]
                    }
                </pre>

                <p>
                    <span class="smtitle">Example</span> <br>
                </p>
                <pre>
                    {
                        "comment": "Superbe article !",
                        "article": 6
                    }
                </pre>
            </div>
        </div>

        <div class="col-md-6">
            <div class="api">
                <p class="bg-danger route">
                    <span>DELETE</span>   /api/comments/{id}
                </p>
                <p>
                    <span class="smtitle">Description</span> <br>
                    Delete a comment and its content.
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
